<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cosw.eci.edu.esteticapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activities.client.RegisterClientActivity"
            android:label="Client">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>

        <activity
            android:name=".activities.professional.RegisterProfessionalActivity"
            android:label="Professional">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>

        <activity
            android:name=".activities.professional.MainProfessionalActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".activities.client.MainClienteActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".activities.client.Services_client_Activity"
            android:label="Services">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.client.MainClienteActivity" />
        </activity>

        <activity
            android:name=".activities.client.ReservationClientActivity"
            android:label="Reservations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.client.MainClienteActivity" />
        </activity>

        <activity
            android:name=".activities.client.AccountClientActivity"
            android:label="My Account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.client.MainClienteActivity" />
        </activity>

        <activity
            android:name=".activities.professional.AccountProfessionalActivity"
            android:label="My Account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.professional.MainProfessionalActivity" />
        </activity>

        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.client.NewReservationActivity"
            android:label="New reservation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.client.Services_client_Activity" />
        </activity>

        <activity
            android:name=".activities.professional.Services_professional_Activity"
            android:label="My services">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.professional.MainProfessionalActivity" />
        </activity>

        <activity
            android:name=".activities.professional.ReservationProfessionalActivity"
            android:label="Reservations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.professional.MainProfessionalActivity" />
        </activity>

        <activity
            android:name=".activities.professional.AddServicesActivity"
            android:label="Add Service">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.professional.Services_professional_Activity" />
        </activity>

        <activity
            android:name=".activities.professional.AddServiceSelectedActivity"
            android:label="Select Services"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.professional.AddServicesActivity" />
        </activity>
    </application>

</manifest>