<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cosw.eci.edu.esteticapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterClientActivity" />
        <activity android:name=".activities.RegisterProfessionalActivity" />
        <activity android:name=".activities.MainProfessionalActivity" />
        <activity
            android:name=".activities.MainClienteActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Services_client_Activity"
            android:label="Services" />
        <activity
            android:name=".activities.ReservationClientActivity"
            android:label="Reservations" />
        <activity
            android:name=".activities.AccountClientActivity"
            android:label="@string/title_activity_account_client"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>